body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    margin-top: 100px;
    text-align: center;
    color: #222;
}

.content {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item{
    margin-left: 30px;
}

.menu-item a{
    text-decoration: none;
    color: #333;
}
li.active a{
    color: rgb(27, 137, 201);
    text-decoration: underline wavy rgb(22, 107, 156);
}

img{
    height: 200px;
}

p{
    width: 600px;
    margin: 20px;
}

.card img{
    width:150px;
    height: auto;
    border-radius: 50%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 800px;
    padding: 20px;
    border: 1px #333 solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

.container {
padding: 2px 16px;
}

.icon{
    display: flex;
    justify-content: center;
}